<h2>About Roles</h2>
<section id="page">
  <div id="home-section">
    Roles determine whether or not a user has permission to view or edit data on the site.
  </div>
  <nav>
    <ol>
      <li><a href="roles/">Roles Home</a></li>
      <li><a href="roles/show">View</a></li>
      <li><a href="roles/new">New</a></li>
      <li><a href="roles/edit">Edit</a></li>

    </ol>
  </nav>
</section>