<h1>View All Roles</h1>

  <table>
    <thead>
    <tr>
      <th>ID. </th>
      <th>Role Name</th>
      <th>Created At</th>
      <th>Updated</th>
    </tr>
    </thead>

    <tbody>
    <% @role.each do |role| %>
      <tr>
        <td><%= role.id.to_s %></td>
        <td><%= role.role_name %></td>
        <td><%= role.created_at.to_s %></td>
        <td><%= role.updated_at.to_s %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<a href="/roles/new">Add New Role</a>